.global-div {
  background-image: url(../assets/images/Tours.jpg);
  background-size: cover;
  height: 100vh;
  margin-bottom: 3rem;
}

.logos_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: space-around;
  margin-right: 3%;
}

.img_accueil {
  width: 2rem;
}

.ul_nav_bar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul_nav_bar a {
  text-decoration: none;
  color: white;
}

.ul_nav_bar li {
  text-shadow: 2px 1px 1px black;
}

.principal_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.principal_title > h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 1px 1px black;
}
.principal_title > p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.France_map {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 45%;
}

#France {
  width: 100%;
}

#logo_Plapimad {
  width: 25%;
}

.p-accueil {
  text-shadow: 2px 1px 1px black;
  font-weight: 600;
}

// responsive nav

@media screen and (width >= 900px) {
  .div_nav_bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ul_nav_bar {
    align-items: center;
    margin-left: 30%;
  }

  .logos_bar {
    flex-direction: row-reverse;
    margin-left: 5%;
  }

  .principal_title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
  }

  .principal_title h1 {
    font-size: 8rem;
  }

  .principal_title p {
    font-size: 3rem;
  }

  #logo_Plapimad {
    width: 20%;
  }

  .global-div a {
    font-size: 1.25rem;
  }
}
