.backgroundimage{
    
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/1027250330/fr/photo/ville-de-tours.jpg?s=1024x1024&w=is&k=20&c=cjuABeUY6fv097ksXr-vbwXTXQM8i05-dQcipHCYQfA=");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;    
    justify-content: center;   
    align-items: center;
}
h1{
    size-adjust: 100%;
}
form{
   
    display: flex;
    justify-content: center;
    background-color: rgb(220,220,220)
    ;
     margin-left: 2.5rem;
     margin-right: 2.5rem;
    
    margin-top: 3.5rem;
    @media screen and (min-width:767px){
        margin-left: 10rem;
        margin-right: 10rem;
    }
    @media screen and (min-width:901px){
        margin-left: 20rem;
        margin-right: 20rem;
        
    }
}
ul{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    margin-right: 3rem;
    
}
input{
    width: 100%;
}
textarea{
    width: 100%;
    font-family: Arial;
}
.button{
        border: none;
        background-color: orangered;
        width: 10rem;
        height:3rem ;  
        color: white;  
}
    