.meteo-container {
    max-width: 1280px;
    margin: 0.5rem;
    padding: .5rem;
    text-align: center;
    background-color: skyblue;
  
    .box-info{
        display : flex;
        flex-direction: column;

        h1, h2{
            margin : 0;
        }
    }
    .box-globale{
        display : flex;
        justify-content: space-around;
    }
    .box-temp{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            margin: 0;
        }
    }
    .icon-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            margin:0;
        }
    }
}

