.culinaire-container {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 40px 0 40px 0;
  border: 1px solid skyblue;
  max-width: min-content;
  margin: 0 1rem 0 1rem;

  a {
    text-decoration: none;
    color: black;
  }

  .desc-container {
    text-align: center;
    font-size: medium;
  }
}

.manger-container {
  display: none;
}

blockquote p::before {
  content: "\201D";
  font-size: 55px;
  font-family: "Courier New", Courier, monospace;
  text-shadow: black 1px 5px 10px;
  color: white;
}

.p-culinaire {
  text-align: justify;
  padding: 0 10px 0 10px;
}

.culinaire-global img {
  width: 22rem;
  height: 20rem;
  border: 1px solid skyblue;
}

@media screen and (width >= 900px) {
  .culinaire-container:hover {
    background-color: skyblue;
    transform: scale(1.1);
  }

  .container-title {
    margin-top: 5rem;
  }

  .culinaire-global img {
    width: 35rem;
    height: 22rem;
  }
  .p-culinaire {
    margin: 0 8rem 2rem 8rem;
  }

  .manger-container {
    display: block;
    width: 40%;
  }
  .resto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-left: 3rem;

    .desc-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40rem;
      height: 13rem;
      font-size: 22px;
      text-align: center;

      background-color: rgba(135, 206, 235, 0.3);
      border-radius: 40px 0 40px 0;
      padding: 2rem;
    }
  }
  .culinaire-container {
    border: 1px solid skyblue;
    max-width: min-content;
  }
}

@media screen and (width < 900px) {
  .desc-container {
    display: none;
  }
}
